.gallery_container{
    width: 100%;
    background: #e0e0e0;
}
.alignleft.imageCol {
    width: 35.5%;
}
.alignleft.imageCol img{
    width: 90%; height: 85px;
}
img.prevImage {
    width: 85%;
    display: block;
    margin: 0 auto;
}
.imageCol p {
    margin: 0;
}
.alignleft.fieldCol {
    width: 64%;
}
.gallery_item{
    background: #f3f3f3; position: relative;
    padding: .5%; margin: .5%;
}
.gallery_item td{
    padding: 5px 10px;
}
.gallery_item td.imageCol{
    max-width: 100px;
}
.gallery_image_video, .gallery_image_text{
    width: 98%; margin: 0 auto; display: block;
}
.nvGation{
    clear:both;
}
